{% extends 'basse.html' %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}